#dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 260px;
}

#dashboard-container > *:not(.sidebar) {
    flex: 1; /* Other elements take the remaining space */
    width: 100%;
    margin: 10px; /* Add a small gap */
    border: 1px solid white; /* Add a white border */
    max-width: 500px; /* Limit the width */
}