.container {  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Sidebar PatientMainContent PatientMainContent"
    "Sidebar PatientMainContent PatientMainContent"
    "Sidebar PreviousNote NewNote";
  height: 900px;
}

.PreviousNote { grid-area: PreviousNote; }

.NewNote { grid-area: NewNote; }

.PatientMainContent {  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  grid-template-rows: 0.8fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PatientHead PatientImage PatientInfos"
    "Timeline Timeline PatientInfos"
    "Timeline Timeline PatientInfos";
  grid-area: PatientMainContent;
}

.PatientInfos { grid-area: PatientInfos; }

.Timeline { grid-area: Timeline; }

.PatientImage { grid-area: PatientImage; }

.PatientHead {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PatientName PatientName PatientName"
    "PatientGeneral PatientGeneral PatientGeneral"
    "PatientGeneral PatientGeneral PatientGeneral";
  grid-area: PatientHead;
}

.PatientName { grid-area: PatientName; }

.PatientGeneral { grid-area: PatientGeneral; }

.Sidebar { grid-area: Sidebar; }

#patientGeneralTable td {
  padding-right: 80px;
}