.container {  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Sidebar PatientMainContent PatientMainContent"
    "Sidebar PatientMainContent PatientMainContent"
    "Sidebar PreviousNote NewNote";
  height: 900px;
}

.Sidebar {
  grid-area: Sidebar;
  width: 300px;
}

.PreviousNote { grid-area: PreviousNote; }

.NewNote { grid-area: NewNote; }

.PatientMainContent {  display: grid;
  grid-template-columns: 1.3fr 0.7fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PatientName PatientImage PatientInfos"
    "Timeline Timeline PatientInfos"
    "Timeline Timeline PatientInfos";
  grid-area: PatientMainContent;
}

.PatientInfos { grid-area: PatientInfos; }

.Timeline { grid-area: Timeline; }

.PatientName { grid-area: PatientName; }

.PatientImage { grid-area: PatientImage; }
