
.PreviousNote, .NewNote, .PatientMainContent, .PatientInfos, .Timeline, .PatientImage, .PatientHead, .PatientName, .PatientGeneral {
  /* border: 1px solid black;  Add border for visualization debugging */
}

.PatientGeneral table {
  width: 100%;
  height: 100%; /* Ensure the table takes the full height of the container */
}

.PatientGeneral td {
  padding: 2px; /* Further reduce padding */
  vertical-align: top; /* Align text to the top of the cell */
}

.container {  
  display: grid;
  grid-template-columns: 300px 1.3fr 1fr; /* Adjusted column width for Sidebar */
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Sidebar PatientMainContent PatientMainContent"
    "Sidebar PatientMainContent PatientMainContent"
    "Sidebar PreviousNote NewNote";
  width: 1900px;
  height: 900px;
}

.PreviousNote { grid-area: PreviousNote; }

.NewNote { grid-area: NewNote; }

.PatientMainContent {  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PatientHead PatientImage PatientInfos"
    "Timeline Timeline PatientInfos"
    "Timeline Timeline PatientInfos";
  grid-area: PatientMainContent;
}

.PatientInfos { grid-area: PatientInfos; }

.Timeline { grid-area: Timeline; }

.PatientImage { grid-area: PatientImage; display: flex; justify-content: flex-start; /* Align to the left */ align-items: center; /* Center vertically */ }

.PatientImage .profile-image {
  display: block;
  margin: 0; /* Remove margin */
}

.PatientHead {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 0.5fr; /* Further adjusted row heights */
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PatientName PatientName PatientName"
    "PatientGeneral PatientGeneral PatientGeneral"
    "PatientGeneral PatientGeneral PatientGeneral";
  grid-area: PatientHead;
}

.PatientName, .PatientGeneral {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.PatientName { grid-area: PatientName; }

.PatientGeneral { grid-area: PatientGeneral; }

.Sidebar { grid-area: Sidebar; }

.timeline-image {
  width: auto; /* Ensure the image scales to the full width of the container */
  height: 100%; /* Ensure the image scales to the full height of the container */
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

.profile-image {
  display: block;
  margin: 0; /* Remove margin */
}


