/* Container for the table */
.patients-page-container div {
    padding: 10px;
    margin: 0;
    max-width: 200%;
    width: 100%;
}

.patients-page-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 0;
}

.patients-page-container th, .patients-page-container td {
    padding: 15px;
    text-align: center;
    border: 4px solid #ffffff;
}

.patients-page-container th {
    background-color: #9bc0dd;
    font-weight: bold;
}

.patients-page-container tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

.patients-page-container tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.patients-page-container tbody tr:hover {
    background-color: #adc687;
}
