.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #a8def0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.sidebarPatient {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: grey;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.doctor-profile {
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.doctor-profile .profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto; /* Center the image in the sidebar */
}

h3 {
    font-size: 1.2rem;
    color: #000;
    margin: 0;
}

.nav-links {
    width: 95%;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-links li {
    width: 100%;
    margin: 15px 0;
}

.nav-button {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #1f1f1f;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #666;
}

.divider {
    border: none;
    height: 5px;
    background-color: white;
    margin: 10px 0;
    width: 100%;
}
